{% extends 'base.html.twig' %}

{% block title %}Tags index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        footer {
            position: relative !important;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-8">
                    <h1 class="h1">Tags</h1>
                </div>
                <div class="col-4">
                    <a class="float-right btn btn-info m-2" href="{{ path('tags_new') }}">
                        <i class="fa fa-plus"></i> Create new
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="table-responsive mb-4">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tag in tags %}
                        <tr>
                            <td>{{ tag.id }}</td>
                            <td>{{ tag.name }}</td>
                            <td>
                                <div class="dropdown float-right">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Options
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item"
                                           href="{{ path('tags_show', {'id': tag.id}) }}">
                                            <i class="fa fa-eye"></i> Show
                                        </a>
                                        <a class="dropdown-item" href="{{ path('tags_edit', {'id': tag.id}) }}">
                                            <i class="fa fa-pencil"></i> Edit
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>




{% endblock %}
