{{ form_start(form) }}
<div class="row form mt-2">
    <div class="col {% if form.name.vars.errors|length %} has-error {% endif %}">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>
</div>

<div class="row mt-2">
    <div class="col">
        <button class="btn btn-success mb-2"><i class="fa fa-save"></i> {{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}
