<header id="home">
    <div class="row">
        <div class="col-4">
            <img class="img-fluid ml-2" src="{% if enterprise %}{{ asset('uploads/images/' ~ enterprise.logo) }}{% else %}{{ asset('/build/images/logo-white.png') }}{% endif %}" width="70">
        </div>
        <div class="col-8">

            <nav class="navbar navbar-expand-lg navbar-dark mt-2 float-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        {% if app.user and app.user.granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('enterprise_index') }}">Enterprise</a>
                            </li>
                        {% endif %}
                        {% if app.user and app.user.granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('user_index') }}">Users</a>
                            </li>
                        {% endif %}
                        {% if app.user and app.user.granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('tags_index') }}">Tags</a>
                            </li>
                        {% endif %}
                        {% if app.user and app.user.granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('category_index') }}">Categories</a>
                            </li>
                        {% endif %}
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link text-info" href="{{ path('app_logout') }}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link text-info" href="{{ path('app_login') }}">Sign In</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

        </div>
    </div>
</header>